@import "style.styl"


#superior
	background: #fff8ce
	#superior-interno
		max-width 942px
		margin auto
		padding-bottom 0.5em
		padding-top 0.5em


#principal
	max-width 942px
	margin auto
	#containerPhoto
		width 100%
		overflow hidden
		height 430px
		padding-bottom 1em
		#dividePhoto
			width 100%
			height 380px
			position relative
			
			div
				display inline-block
				height 187.5px
			#flotante
				position relative
				width 270px;
				height 430px
				margin-left 33em;
				margin-top -382px
				padding 1em
				box-sizing border-box
				display block
				button
					margin-top 1em
					padding 0.5em
					width 70%
					font-size 1em

			#uno
				width 70%
				overflow hidden
				img
					margin-top -7em
			#dos
				width 29.1%
				margin 0
				overflow hidden
				img
					margin-top: -17em;
					margin-left: -25em;
			#tres
				width 29.1%
				overflow hidden
				img
					margin-top: -20em;
					margin-left: -37em;
			#cuatro
				width 70%
				overflow hidden
				img
					margin-top: -23em;
					margin-left: -13em;




	#fotos
		width 500px
		figure
			width 100%
			margin 0
			overflow hidden
			height 280px
			margin-bottom 2em
			img
				width 164%
				margin-top -14em
				margin-left -5em

	
		
	figure
		display inline-block
		vertical-align top
		
		width 31.7%
		margin 0
		padding 0
		margin-right 2%
		margin-bottom 2em
		box-shadow: 0 6px 5px rgba(0,0,0,0.2);
		overflow hidden

		figcaption 
			background white
			padding 5px
			padding-left 1em
			box-sizing border-box
		div
			width 100%
			overflow hidden
			position relative
			height 200px
			.cubierta
				position absolute
				background transparent
				top 0
				left 0
				width 100%
				height 100%
				transition all ease 0.3s
				box-sizing border-box
				cursor pointer
				&:hover
					border:inset 8px rgba(255,255,255,0.5);
					border-style:solid;
				
			img
				margin: 0;
				padding: 0;
				width: 242%;
				margin-left: -8em;
				margin-top: -9em;
					
					
	.ultimo
		margin-right 0




  		
