@import "../style.styl"
@import "textstyle.css"



#superior
	background: #fff8ce
	margin-bottom 2em
	font-size 16px
	#superior-interno
		max-width 942px
		margin auto
		padding-bottom 0.5em
		padding-top 0.5em
		padding-left 1em
		padding-right 1em
		h2
			
#principal
	max-width 942px
	min-height 400px
	padding-left 1em
	padding-right 1em
	margin auto
	margin-top 2em
	padding-bottom 2em
	form
		textarea
			background: #f93;
	ul
		margin-bottom 2em
		li
			margin-left 15px

.jqte
	border none
	border-radius 0
	margin-top 0
.jqte_editor, .jqte_source
	background: #fff8ce;
.active
	color #f93;
	text-decoration underline

.boton
	background url(/img/boton.png)
	background-size 100% 100%
	padding 0.5em
	font-size 1em
	color white
	z-index 50
	width 200px