@import "../style.styl"



#superior
	background: #fff8ce
	margin-bottom 2em
	font-size 16px
	#superior-interno
		max-width 942px
		margin auto
		padding-bottom 0.5em
		padding-top 0.5em
		padding-left 1em
		padding-right 1em
		h2
			display inline-block
		#controls
			display inline-block
			width 80%
			text-align right
			form
				width 300px;
				vertical-aling bottom
				display inline-block
				input
					width 100%
			.boton
				width 150px;
				display inline-block
				padding 0.5em
				margin-right 10%
				font-size 1em
				background url(/img/boton.png)
				background-size 100% 100%


#principal
	max-width 942px
	min-height 400px
	padding-left 1em
	padding-right 1em
	margin auto
	margin-top 2em
	padding-bottom 2em
	table
		width 100%
		text-align center
		td
			padding-top 0.5em
			padding-bottom 0.5em
		tr:nth-child(2n+1)
			background #fff8ce
		tr
			&:hover
				color black
				cursor pointer
		.nocenter
			text-align left
		#cabecera
			border-bottom solid 1px black
			background none
			td
				padding none
	
		
				




  		
