@import "../style.styl"



#superior
	background: #fff8ce
	margin-bottom 2em
	font-size 16px
	#superior-interno
		max-width 942px
		margin auto
		padding-bottom 0.5em
		padding-top 0.5em
		padding-left 1em
		padding-right 1em


#principal
	max-width 942px
	min-height 400px
	padding-left 1em
	padding-right 1em
	margin auto
	margin-top 2em
	padding-bottom 2em
	form
		font-family: 'Amaranth', sans-serif;
		max-width 350px
		margin auto
		position relative
		height 220px
		margin-top 6em
		input
			width 100%
			margin-bottom 1em
			font-family: 'Amaranth', sans-serif;
		input[type='submit']
			width 39%
			background url(../../img/boton.png)
			background-size 100% 100%
			font-family: 'Amaranth', sans-serif;
			color white
			font-size 1em
.error
	color #d41807
	margin-bottom 1em
	
		
				




  		
