@import "../style.styl"



#superior
	background: #fff8ce
	margin-bottom 2em
	font-size 16px
	#superior-interno
		max-width 942px
		margin auto
		padding-bottom 0.5em
		padding-top 0.5em
		padding-left 1em
		padding-right 1em


#principal
	max-width 942px
	min-height 400px
	padding-left 1em
	padding-right 1em
	margin auto
	margin-top 2em
	padding-bottom 2em
	ul
		margin auto
		min-height 500px
		li
			position relative
			width 25%
			margin-right 20%
			margin-bottom 2em
			font-size 1.2em
			cursor pointer
			&:hover
				background #fff8ce
				color #373435;
			span
				display block
				font-size 2em
				cursor pointer
		.ultimo
			margin-right 0

	
		
				




  		
